In [11]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
import os
os.chdir('..')

In [16]:
import concurrent.futures
import random
import stock_analisys.packages.paths as paths
import pandas as pd
import time
import stock_analisys.packages.fundamentei_class as fc
import stock_analisys.packages.plots_fundamentei as plot
import stock_analisys.packages.bastter_class as bc

## Grabing Table from Ticker

In [ ]:
import stock_analisys.packages.fundamentei_class as fc

evaluate_test = fc.FundamenteiEvaluate("a")
evaluate_test.table_extract()
display(evaluate_test.company_full_data)

# Plot Config

In [ ]:
plot.main()

In [81]:
bc.main_evaluate('mmm')

,Year,Equity,Net Revenue,Operating Income,Pre-0Tax Income,Income Taxes,Net Income,Earnings per Share,Common Shares Outstanding,Net Profit Margin,...,EBIT,EBITDA,EBITDA Margin,OIBDA,OIBDA Margin,Debt,Cash,Net Debt,Net Debt / EBITDA,Net Debt/Equity
0,2008,0.0,13297.0,2962.0,2905.0,-932.0,1973.0,2.83,695.0,15.0,...,3008.0,3301.0,25.0,3255.0,24.0,0.0,0.0,0.0,0.00,0.00
1,2009,12764.0,23123.0,4814.0,4632.0,-1388.0,3244.0,4.61,700.0,14.0,...,4851.0,6008.0,26.0,5971.0,26.0,5710.0,3784.0,1926.0,0.32,0.15
2,2010,15663.0,26662.0,5918.0,5755.0,-1592.0,4163.0,5.81,713.0,16.0,...,5956.0,7076.0,27.0,7038.0,26.0,5452.0,4478.0,974.0,0.14,0.06
3,2011,15420.0,29611.0,6178.0,6031.0,-1674.0,4357.0,6.13,708.0,15.0,...,6217.0,7453.0,25.0,7414.0,25.0,5166.0,3680.0,1486.0,0.20,0.10
4,2012,17575.0,44924.0,9845.0,9649.0,-2811.0,6838.0,9.85,693.0,15.0,...,8260.0,9850.0,22.0,11435.0,25.0,6001.0,4531.0,1470.0,0.15,0.08
5,2013,17502.0,30871.0,6666.0,6562.0,-1841.0,4721.0,6.91,681.0,15.0,...,6707.0,8078.0,26.0,8037.0,26.0,6009.0,3337.0,2672.0,0.33,0.15
6,2014,13109.0,31821.0,7135.0,7026.0,-2028.0,4998.0,7.68,649.0,16.0,...,7135.0,8543.0,27.0,8543.0,27.0,6811.0,3336.0,3475.0,0.41,0.27
7,2015,11429.0,30274.0,6946.0,6823.0,-1982.0,4841.0,7.73,625.0,16.0,...,6823.0,8258.0,27.0,8381.0,28.0,10797.0,1916.0,8881.0,1.08,0.78
8,2016,10298.0,30109.0,7027.0,7053.0,-1995.0,5058.0,8.36,604.0,17.0,...,7053.0,8527.0,28.0,8501.0,28.0,11650.0,2678.0,8972.0,1.05,0.87
9,2017,11563.0,31657.0,7692.0,7548.0,-2679.0,4869.0,7.93,612.0,15.0,...,7548.0,9092.0,29.0,9236.0,29.0,13949.0,4129.0,9820.0,1.08,0.85
10,2018,9796.0,32765.0,7207.0,7000.0,-1637.0,5363.0,8.89,602.0,16.0,...,7000.0,8488.0,26.0,8695.0,27.0,14622.0,3233.0,11389.0,1.34,1.16
11,2019,10063.0,32136.0,6174.0,5712.0,-1130.0,4582.0,7.81,585.0,14.0,...,5712.0,7305.0,23.0,7767.0,24.0,20313.0,2451.0,17862.0,2.45,1.78
12,2020,10147.0,32348.0,6701.0,6191.0,-1208.0,4983.0,8.51,581.0,15.0,...,6191.0,7849.0,24.0,8359.0,26.0,22495.0,4477.0,18018.0,2.30,1.78

,Year,Operating Activities,Investing,Capital Expenditures (CAPEX),FCF,FCF per Share,FCF/OCF,Financing,Total
0,2008,3408.0,-2009.0,-302.0,3106.0,4.47,0.91,-903.0,496.0
1,2009,4941.0,-1732.0,-829.0,4112.0,5.87,0.83,-2014.0,1195.0
2,2010,5174.0,-2626.0,-1066.0,4108.0,5.76,0.79,-2184.0,364.0
3,2011,5284.0,-2718.0,-1324.0,3960.0,5.59,0.75,-3675.0,-1109.0
4,2012,7517.0,-3540.0,-2054.0,5463.0,7.88,0.73,-2329.0,1648.0
5,2013,5817.0,-856.0,-1537.0,4280.0,6.28,0.74,-5246.0,-285.0
6,2014,6626.0,-596.0,-1358.0,5268.0,8.12,0.80,-6603.0,-573.0
7,2015,6420.0,-2817.0,-1428.0,4992.0,7.99,0.78,-3648.0,-45.0
8,2016,6662.0,-1403.0,-1362.0,5300.0,8.77,0.80,-4626.0,633.0
9,2017,6240.0,-3086.0,-1324.0,4916.0,8.03,0.79,-2655.0,499.0
10,2018,6439.0,222.0,-1315.0,5124.0,8.51,0.80,-6701.0,-40.0
11,2019,7070.0,-6444.0,-1576.0,5494.0,9.39,0.78,-1124.0,-498.0
12,2020,7235.0,-5594.0,-1511.0,5724.0,9.85,0.79,-274.0,1367.0

,Year,EPS,P/E Ratio,Book Value,P/B ratio,Dividends per Share,Payout,Dividend Yield,CAGR Net Income (3Y),CAGR FCF (3Y),P/FCF per Share
0,2008,2.83,14.95,0.00,-0.00,2.00,70.67,4.73,-0.00,-0.00,7.92
1,2009,4.61,13.63,18.23,3.45,2.04,44.25,3.25,-0.00,-0.00,7.62
2,2010,5.81,11.58,21.97,3.06,2.10,36.14,3.12,-0.00,-0.00,7.69
3,2011,6.13,10.66,21.78,3.00,2.20,35.89,3.37,30.22,8.43,7.00
4,2012,9.85,7.79,25.36,3.03,2.95,29.95,3.84,28.22,9.93,5.56
5,2013,6.91,17.16,25.70,4.61,2.54,36.76,2.14,4.28,1.38,10.98
6,2014,7.68,18.53,20.20,7.04,3.42,44.53,2.40,4.68,9.98,11.57
7,2015,7.73,17.32,18.29,7.32,4.10,53.04,3.06,-10.87,-2.96,10.66
8,2016,8.36,19.49,17.05,9.56,4.44,53.11,2.72,2.32,7.39,12.27
9,2017,7.93,27.72,18.89,11.64,4.70,59.27,2.14,-0.87,-2.28,17.79
10,2018,8.89,20.55,16.27,11.23,5.44,61.19,2.98,3.47,0.87,14.18
11,2019,7.81,22.39,17.20,10.16,5.76,73.75,3.29,-3.24,1.21,11.83
12,2020,8.51,17.21,17.46,8.39,1.47,17.27,1.00,0.77,5.20,9.73