In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
os.chdir('..')

In [ ]:
import stock_analisys.stock_full_analisys as fa
fa.complete_study('UNH')

In [5]:
import pandas as pd

import stock_analisys.packages.paths as paths


def csv_to_pd(ticker):
    ticker = ticker.upper().strip()
    df = pd.read_csv(paths.morning_star_path / 'income_statement' / f'{ticker} Income Statement.csv')
    df = df.transpose()
    df = df.reset_index()
    
    # Fixing Header
    new_header = df.iloc[0]  # grab the first row for the header
    df = df[1:]  # take the data less the header row
    df.columns = new_header  # set the header row as the df header
    df.columns.values[0] = "Year"

    display(df)

def csv_to_pd2(ticker):
    ticker = ticker.upper().strip()
    df = pd.read_csv(paths.morning_star_path / 'key_ratios' / f'{ticker} Key Ratios.csv')
    df = df.transpose()
    df = df.reset_index()
    
    # Fixing Header
    new_header = df.iloc[0]  # grab the first row for the header
    df = df[1:]  # take the data less the header row
    df.columns = new_header  # set the header row as the df header
    df.columns.values[0] = "Year"

    df.to_csv('test.csv', index=False)

    display(df)

def main():
    csv_to_pd('mmm')
    csv_to_pd2('aapl')


if __name__ == "__main__":
    main()

,Year,Revenue,Cost of revenue,Gross profit,Operating expenses,Research and development,"Sales, General and administrative",Total operating expenses,Operating income,Interest Expense,...,Other,Net income,Net income available to common shareholders,Earnings per share,Basic,Diluted,Weighted average shares outstanding,Basic,Diluted,EBITDA
1,2015-12,30274,15383,14891,NaN,1763,6182,7945,6946,149,...,-8,4833,4833,NaN,7.72,7.58,NaN,626,637,8407
2,2016-12,30109,15040,15069,NaN,1735,6111,7846,7223,199,...,-8,5050,5050,NaN,8.35,8.16,NaN,605,619,8726
3,2017-12,31657,16001,15656,NaN,1850,6572,8422,7234,322,...,-11,4858,4858,NaN,8.13,7.93,NaN,598,613,9414
4,2018-12,32765,16682,16083,NaN,1821,7602,9423,6660,350,...,-14,5349,5349,NaN,9.09,8.89,NaN,588,602,8838
5,2019-12,32136,17136,15000,NaN,1911,7029,8940,6060,448,...,-12,4570,4570,NaN,7.92,7.81,NaN,577,585,7753
6,TTM,32348,16935,15413,NaN,1971,6849,8820,6593,467,...,-12,4971,4971,NaN,8.62,8.52,NaN,577,583,8316

,Year,Revenue USD Mil,Gross Margin %,Operating Income USD Mil,Operating Margin %,Net Income USD Mil,Earnings Per Share USD,Dividends USD,Payout Ratio % *,Shares Mil,...,Key Ratios -> Efficiency Ratios,Efficiency,Days Sales Outstanding,Days Inventory,Payables Period,Cash Conversion Cycle,Receivables Turnover,Inventory Turnover,Fixed Assets Turnover,Asset Turnover
1,2010-09,"65,225",39.4,"18,385",28.2,"14,013",2.16,NaN,NaN,"6,473",...,NaN,2010-09,24.82,6.95,81.30,-49.53,14.71,52.51,16.89,1.01
2,2011-09,"108,249",40.5,"33,790",31.2,"25,922",3.95,NaN,NaN,"6,557",...,NaN,2011-09,18.34,5.17,75.48,-51.96,19.90,70.53,17.26,1.13
3,2012-09,"156,508",43.9,"55,241",35.3,"41,733",6.31,0.38,NaN,"6,617",...,NaN,2012-09,19.01,3.26,74.38,-52.13,19.20,112.12,13.48,1.07
4,2013-09,"170,910",37.6,"48,999",28.7,"37,037",5.68,1.63,27.4,"6,522",...,NaN,2013-09,25.66,4.37,74.54,-44.50,14.22,83.45,10.67,0.89
5,2014-09,"182,795",38.6,"52,503",28.7,"39,510",6.45,1.81,28.5,"6,123",...,NaN,2014-09,30.51,6.30,85.45,-48.64,11.96,57.94,9.82,0.83
6,2015-09,"233,715",40.1,"71,230",30.5,"53,394",9.22,1.98,22.3,"5,793",...,NaN,2015-09,26.79,5.81,85.57,-52.97,13.62,62.82,10.85,0.89
7,2016-09,"215,639",39.1,"60,024",27.8,"45,687",8.31,2.18,24.8,"5,500",...,NaN,2016-09,27.59,6.22,101.11,-67.29,13.23,58.64,8.71,0.70
8,2017-09,"229,234",38.5,"61,344",26.8,"48,351",9.21,2.40,26.5,"5,252",...,NaN,2017-09,26.77,9.04,111.72,-75.91,13.63,40.37,7.54,0.66
9,2018-09,"265,595",38.3,"70,898",26.7,"59,531",11.91,2.72,23.7,"5,000",...,NaN,2018-09,28.21,9.82,116.95,-78.92,12.94,37.17,7.07,0.72
10,2019-09,"260,174",37.8,"63,930",24.6,"55,256",11.89,3.00,25.1,"4,649",...,NaN,2019-09,32.35,9.09,115.20,-73.76,11.28,40.13,6.61,0.74
11,TTM,"267,981",38.1,"65,591",24.5,"57,215",12.79,3.08,24.0,"4,495",...,NaN,TTM,20.98,9.04,69.17,-39.15,17.40,40.36,7.18,0.81